In [45]:
#Q1.
Scores=[35,50,20,30,55,75,90,95,66,80]
for i in Scores:
    if i>70:
        print("distinction")
    elif (i>60 and i<70):
        print("first class")
    elif (i>50 and i<60):
        print("second class")
    elif (i>35 and i<50):
        print("just pass")
    else:
        print("fail")

fail
fail
fail
fail
second class
distinction
distinction
distinction
first class
distinction

In [4]:
#Q2.
Book_price= {'Python':600, 'Java': 400, 'Web_Tech': 550, 'OS': 450, 'IT': 700}
for i in Book_price:
     if (Book_price[i]>500):
        print(i)

Python
Web_Tech
IT

In [5]:
#Q3.
aList = [1, 2, 3, 4, 5, 6, 7]
New_list=[]
for i in aList:
    c=i*i
    New_list.append(c)
print(New_list)

[1, 4, 9, 16, 25, 36, 49]

In [12]:
#Q4.
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
for i in list2:
    for j in list1:
        print(j+i)
    print()

Hello Dear
take Dear

Hello Sir
take Sir

In [19]:
#Q5.
aList=[100, 200, 300, 400, 500]
aList.sort(reverse=True)
print(aList)

[500, 400, 300, 200, 100]

In [27]:
#Q6.
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [38]:
#Q7.
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
l=["h", "i", "j"]
list1[2][1][2].extend(l)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [53]:
#Q8.
list1 = [5, 10, 15, 20, 25, 50, 20]
i=list1.index(20)
list1[i]=200
list1

[5, 10, 15, 200, 25, 50, 20]

In [52]:
#Q9.
Player_game={'Sachin':'Cricket', 'Rahul': 'Cricket', 'Messi': 'Football', 'Federer': 'Tennis', 'Anand': 'Chess'}
for i in Player_game:
    if (Player_game[i]=='Cricket'):
        print(i)

Sachin
Rahul

In [51]:
#Q10.
sum=0
List1= [1,2,4,5,10,20,4,5]
for i in List1:
    sum=sum+i
print(sum)

51